{% extends 'main.html'%}

{% block content %}
<form method="post" action="{% url 'developer:edit_account' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="{% url 'developer:account' %}"><i class="im im-angle-left"></i></a>
                <br>

                {% for field in form%}
                <div class="form__field">
                    <label for="formInput#text">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Save" />
            </div>
        </div>
    </main>
</form>
{% endblock %}