{% extends 'main.html' %}
{% load static %}

{% block content %}

<body>
    <div class="auth">
        {% if page == 'login' %}
        <div class="card">
            <div class="auth__header text-center">
                <a href="#">
                    <img src="{% static 'images/logo.svg' %}" alt="icon" />
                </a>
                <h3>Account Login</h3>
                <p>Hello Developer, Welcome Back!</p>
            </div>
            <form action="{% url 'developer:login' %}" method="post">
                {% csrf_token %}
                <div class="form__field">
                    <label for="formInput#text">Username: </label>
                    <input class="input input--text" id="formInput#text" type="text" required name="username"
                        placeholder="Enter your username..." />
                </div>

                <div class="form__field">
                    <label for="formInput#password">Password: </label>
                    <input class="input input--password" id="formInput#passowrd" type="password" required
                        name="password" placeholder="••••••••" />
                </div>
                <div class="auth__actions">
                    <input class="btn btn--sub btn--lg" type="submit" value="Log In" />
                    <a href="forgetpassword.html">Forgot Password?</a>
                </div>
            </form>
            <div class="auth__alternative">
                <p>Don’t have an Account?</p>
                <a href="{% url 'developer:register' %}">Sign Up</a>
            </div>
        </div>
        {% else %}
        <div class="card">
            <div class="auth__header text-center">
                <a href="#">
                    <img src="{% static 'images/logo.svg' %}" alt="icon" />
                </a>
                <h3>Account SignUp</h3>
                <p>Create a new developer account</p>
            </div>

            <form action="{% url 'developer:register' %}" method="post" class="form auth__form">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- <div class="form__field">
                    <label for="formInput#text">Full Name: </label>
                    <input class="input input--text" id="formInput#text" type="text" required name="text"
                        placeholder="e.g. Elías Torres" />
                </div>

                <div class="form__field">
                    <label for="formInput#email">Email Address: </label>
                    <input class="input input--email" id="formInput#email" type="email" required name="email"
                        placeholder="e.g. user@domain.com" />
                </div>

                <div class="form__field">
                    <label for="formInput#password">Password: </label>
                    <input class="input input--password" id="formInput#passowrd" type="password" name="password"
                        placeholder="••••••••" />
                </div>
                <div class="form__field">
                    <label for="formInput#confirm-password">Confirm Password: </label>
                    <input class="input input--password" id="formInput#confirm-passowrd" type="password"
                        name="confirm-password" placeholder="••••••••" />
                </div> -->
                <div class="auth__actions">
                    <input class="btn btn--sub btn--lg" type="submit" value="Sign  In" />
                </div>
            </form>
            <div class="auth__alternative">
                <p>Already have an Account?</p>
                <a href="{% url 'developer:login' %}">Log In</a>
            </div>
        </div>
        {% endif %}
    </div>
</body>

{% endblock %}